aniso8601==1.2.0
appdirs==1.4.3
asn1crypto==0.22.0
cffi==1.10.0
click==6.7
cryptography==1.8.1
feedparser==5.2.1
Flask==0.12.1
git+https://github.com/voutilad/flask-ask@redis-v2
redis==2.10.5
gunicorn==19.7.1
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
mock==2.0.0
packaging==16.8
pbr==2.1.0
pluggy==0.4.0
py==1.4.33
pycparser==2.17
pyOpenSSL==16.2.0
pyparsing==2.2.0
pytest==3.0.7
python-dateutil==2.6.0
PyYAML==3.12
six==1.10.0
tox==2.7.0
virtualenv==15.1.0
Werkzeug==0.12.1
